@import "../../../styles/colors.scss";

.container-titolo {
  h2 {
    margin-top: 30px;
  };

  .paragrafo {
    font-size: 15px;
    text-align: justify;
  }
}

#ultime-ricette {
  text-align: center;
}

div#container-utente {
  background: #0000008a;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  z-index: 10px;
  align-items: center;
}

div#dati-utente {
  background: white;
  width: 50%;
  height: 284px;
  border: 5px solid $primary-color-1;
  border-radius: 30px;
  padding: 16px;
  font-size: 16px;
}

ul {
  height: 90px;
  margin-top: 33px;
  font-size: 18px;
}

li {
  line-height: 40px;
}

h2 {
  text-align: center;
  font-size: 23px!important;
}

button.btn.btn-primary.btn-lg {
  width: 50%;
  margin-left: 25%;
  background-color: $primary-color-1;
  border-color: $primary-color-1;
}

// @media only screen and (min-width: 0px) and (max-width: 480px) {
//   .card-container {
//     width: 100%;
//     margin-left: 0%;
//     margin-bottom: 20px;
//   }
// }

// @media only screen and (min-width: 481px) and (max-width: 768px) {
//   .card-container {
//     width: 45.5%;
//     margin-left: 3%;
//     margin-bottom: 20px;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//   .card-container {
//     width: 30%;
//     margin-left: 3%;
//     margin-bottom: 20px;
//   }
// }
