<app-carousel></app-carousel>


<div id="main-container">
  <div class="container-titolo">
    <h2>Benvenuti in Cibando</h2>
    <p class="paragrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error modi nisi sint facilis. Doloremque reprehenderit asperiores eveniet magnam earum nobis provident repellat voluptatem rem, tempore, fuga illo, necessitatibus quisquam? Ea?</p>
  </div>

  <div id="ultime-ricette">
    <h2>Ultime ricette</h2>
    <app-recipe-card [recipes]="ricette" [pag]="'home'"></app-recipe-card>
  </div>
</div>


<ng-template [ngIf]="name">
  <div id="container-utente">
    <div id="dati-utente">
      <h2>Grazie {{name}} per esserti registrato, ecco i tuoi dati:</h2>
      <ul>
        <li>nome: {{name}}</li>
        <li>email: {{email}}</li>
      </ul>
      <button class="btn btn-primary btn-lg" (click)="closeModal()">chiudi</button>
    </div>
  </div>
</ng-template>


