// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #e25337;

//secondary color
$secondary-color-1: white;
$secondary-color-2: rgb(151, 146, 146);
$secondary-color-3: rgb(73, 70, 70);
$secondary-color-4: rgb(46, 46, 46);
$secondary-color-5: rgb(0, 0, 0);
