<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ricette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<img src="https://media.istockphoto.com/id/1442238264/it/foto/dauphin-island-vista-ultrawide-sul-panorama-della-baia.jpg?s=1024x1024&w=is&k=20&c=QLY9rlnjxkUDBBO7ws4Vh8RZH2PeA8DuQE3cC5XHCxY=" class="foto">
<div id="main-container">
  <div class="container-titolo">
    <h2>Angular</h2>
    <p class="paragrafo">Ecco un testo dentro al paragrafo</p>
  </div>

</div>

<router-outlet></router-outlet>
